.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-backdrop;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  &.visible {
    visibility: visible;
  }
  &.active {
    opacity: 1;
  }
  @include transition(0.1s opacity linear);
}
