/**
 * Platform
 * --------------------------------------------------
 * Platform specific tweaks
 */

/**
 * Apply roboto font
 */

.roboto {
  font-family: "Roboto", $font-family-base;
  input {
    font-family: "Roboto", $font-family-base;
  }
}

/*
.platform-android {


  .bar {
    padding: 0;

    line-height: 40px;

    .button {
      line-height: 40px;
    }

    .button-icon:before {
      font-size: 24px;
    }
  }

  .back-button {
    &.button-icon:before {
      line-height: 40px;
    }
    margin-left: -3px;
    padding: 0px 2px !important;
    &.ion-android-arrow-back:before {
      font-size: 12px;
    }

    &.back-button.active,
    &.back-button.activated {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .item-divider {
    background: none;
    border-top-width: 0;
    border-bottom-width: 2px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
  }
  .item {
    border-left-width: 0;
    border-right-width: 0;
  }

  .item-divider ~ .item:not(.item-divider) {
    border-bottom-width: 0;
  }

  .back-button:not(.ng-hide) + .left-buttons + .title {
    // Don't allow normal titles in this mode
    display: none;
  }

  .bar .title {
    text-align: left;
    font-weight: normal;
  }

  font-family: 'Roboto';

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', $font-family-base;
  }

  .tab-item {
    font-family: 'Roboto', $font-family-base;
  }


  input, button, select, textarea {
    font-family: 'Roboto', $font-family-base;
  }
  */
//}

.platform-ios.platform-cordova {
  // iOS7/8 has a status bar which sits on top of the header.
  // Bump down everything to make room for it. However, if
  // if its in Cordova, and set to fullscreen, then disregard the bump.
  &:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
      height: $bar-height + $ios-statusbar-height;
      &.item-input-inset .item-input-wrapper {
        margin-top: 19px !important;
      }
      > * {
        margin-top: $ios-statusbar-height;
      }
    }
    .tabs-top > .tabs,
    .tabs.tabs-top {
      top: $bar-height + $ios-statusbar-height;
    }
    .has-header,
    .bar-subheader {
      top: $bar-height + $ios-statusbar-height;
    }
    .has-subheader {
      top: 2 * $bar-height + $ios-statusbar-height;
    }
    .has-tabs-top {
      top: $bar-height + $tabs-height + $ios-statusbar-height;
    }
    .has-header.has-subheader.has-tabs-top {
      top: 2 * $bar-height + $tabs-height + $ios-statusbar-height;
    }
  }
  &.status-bar-hide {
    // Cordova doesn't adjust the body height correctly, this makes up for it
    margin-bottom: 20px;
  }
}

@media (orientation: landscape) {
  .platform-ios.platform-browser.platform-ipad {
    position: fixed;
    // required for iPad 7 Safari
 
  }
}

.platform-c:not(.enable-transitions) * {
  // disable transitions on grade-c devices (Android 2)
  -webkit-transition: none !important;
  transition: none !important;
}
