<ion-view view-title="Habitat">
<ion-content>
	<ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" >
		<ion-slide ng-repeat="animal in animals"><div style="width:100%; height:100%; background: url('assets/animals/{{animal.img}}'); background-size:cover">
					<h1 class="title">{{animal.name}}</h1>
		</div></ion-slide>
	</ion-slide-box>
</ion-content>
</ion-view>
